:root {
  --primary-red: hsl(14, 86%, 42%);
  --accent-green: hsl(159, 69%, 38%);
  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
  --white: hsl(0, 0%, 100%);
}

/* Utilities */
.u-flex {
  display: flex;
}

/***********/
/* Layout */
/***********/

body {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: var(--rose-50);
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
}

.site-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  align-items: center;
  min-width: 320px;
  max-width: 1440px;
  width: 100%;
  padding: 0 1rem;
}

.app-view {
  flex-direction: column;
  gap: 3rem 0;
}

@media only screen and (min-width: 600px) {
  .site-wrapper {
    padding: 0 1.5rem;
  }
}

@media only screen and (min-width: 720px) {
  .site-wrapper {
    padding: 0 2rem;
  }

  .app-view {
    flex-direction: row;
    justify-content: space-between;
    gap: 0 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .site-wrapper {
    padding: 0 3rem;
  }
}

/****************/
/* Product Grid */
/****************/

.product-grid {
  flex-basis: 100%;
  width: 100%;
}

.product-grid h2 {
  color: var(--rose-900);
  margin-bottom: 1.5rem;
}

.product-items-list {
  display: grid;
  row-gap: 2rem;
}

.product-item-card {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 25px 40px auto;
}

.product-card-image-wrapper {
  border-radius: 0.5rem;
  overflow: hidden;
  grid-column: 1;
  grid-row: 1/3;
}

/* TBU */
.selected .product-card-image-wrapper {
  border: 2px solid var(--primary-red);
}

.product-card-btns-group {
  grid-column: 1;
  grid-row: 2;
  margin: 0 auto;
}

.btn {
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
  width: 160px;
}

.btn__add-to-cart {
  justify-content: center;
  border: 1px solid var(--rose-400);
  padding: 0.65rem 0.5rem;
  background-color: var(--white);
  /* display: none; */
}

.btn__add-to-cart img {
  margin-right: 0.5rem;
}

.btn__add-to-cart span {
  font-weight: 600;
}

.btn__quantity {
  justify-content: space-between;
  border: 1px solid var(--primary-red);
  padding: 0.65rem 0.75rem;
  background-color: var(--primary-red);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  cursor: default;
  display: none;
}

.btn__decrease-qty,
.btn__increase-qty {
  padding: 0.35rem;
  border-radius: 50%;
  border: 1px solid var(--rose-100);
  cursor: pointer;
}

.btn__decrease-qty img,
.btn__increase-qty img {
  width: 10px;
  height: 10px;
}

/* .quantity-btns-wrapper {
  display: none;
} */

.product-card-content {
  grid-row: 4;
  flex-direction: column;
  row-gap: 0.35rem;
  justify-content: space-between;
}

.product-category {
  color: var(--rose-400);
}

.product-name {
  color: var(--rose-900);
  font-weight: 600;
}

.product-price {
  color: var(--primary-red);
  font-weight: 500;
}

@media only screen and (min-width: 500px) {
  .product-items-list {
    -moz-column-gap: 1.2rem;
    column-gap: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media only screen and (min-width: 720px) {
  .product-grid {
    flex-basis: 65%;
  }
}

@media only screen and (min-width: 1200px) {
  .product-grid {
    flex-basis: 69%;
  }
}

/******************/
/* Checkout Panel */
/******************/

.checkout-panel {
  flex-basis: 100%;
  background-color: var(--white);
  padding: 1.25rem;
  border-radius: 0.5rem;
}

.checkout-panel-title {
  color: var(--primary-red);
}

.checkout-panel-empty img {
  margin: 0 auto 1rem auto;
}

.checkout-panel-empty p {
  color: var(--rose-500);
  font-size: 14px;
  text-align: center;
}

.checkout-panel-active {
  display: none;
}

@media only screen and (min-width: 720px) {
  .checkout-panel {
    flex-basis: 34%;
    align-self: baseline;
  }
}

@media only screen and (min-width: 1200px) {
  .checkout-panel {
    flex-basis: 30%;
  }
}

/**********/
/* Footer */
/**********/
.fm-byline {
  margin-top: 2rem;
}

.fm-byline-text {
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-align: center;
}

.fm-byline-text,
.fm-byline-text a {
}

/*****************/
/* Media Queries */
/*****************/
@media only screen and (min-width: 0px) {
}
