<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <!-- Displays site properly based on user's device -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta
      name="author"
      content="TechTinu"
    />
    <meta
      name="description"
      content="Solution to the Product List with Cart challenge on Frontend Mentor."
    />
    <meta
      name="theme-color"
      content="#c73a0f"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/images/favicon-32x32.png"
    />
    <!-- Google Fonts -->
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap"
      rel="stylesheet"
    />
    <!-- Project Stylesheets -->
    <link
      rel="stylesheet"
      href="css/reset.css"
    />
    <link
      rel="stylesheet"
      href="css/style.css"
    />
    <link
      rel="stylesheet"
      href="css/a11y.css"
    />
    <!-- Scripts -->
    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script
      src="js/script.js"
      type="module"
      defer
    ></script>
    <title>Product List with Cart | Frontend Mentor</title>
  </head>
  <body>
    <div
      class="site-wrapper"
      id="app"
    >
      <header>
        <a
          href="#main"
          class="skip"
          >Skip to main content</a
        >
        <h1 class="sr-only">Product List Cart - A Frontend Mentor Project</h1>
      </header>

      <main id="main">
        <div class="app-view u-flex">
          <!-- Product Grid -->
          <section class="product-grid">
            <h2 class="product-grid-title">Desserts</h2>

            <!-- Product items -->
            <ul class="product-items-list">
              <li
                class="product-item-card"
                v-for="(product, index) in products"
                :key="product.name"
                :class="{selected: product.selected}"
              >
                <div class="product-card-image-wrapper">
                  <picture>
                    <source
                      media="(min-width: 1200px)"
                      :srcset="product.image.desktop"
                    />
                    <source
                      media="(min-width: 551px)"
                      :srcset="product.image.tablet"
                    />
                    <source
                      media="(min-width: 320px)"
                      :srcset="product.image.mobile"
                    />
                    <img
                      :src="product.image.desktop"
                      :alt="product.name"
                      width="502"
                      height="480"
                    />
                  </picture>
                </div>
                <!-- Buttons -->
                <div class="product-card-btns-group">
                  <!-- Quantity buttons if item is selected -->
                  <div
                    v-if="product.quantity"
                    class="btn--sm btn__quantity u-font-medium u-flex"
                  >
                    <button
                      class="btn__decrease-qty"
                      @click="decreaseItemCount(index)"
                    >
                      <img
                        src="assets/images/icon-decrement-quantity.svg"
                        alt="Decrease quantity by 1"
                      />
                    </button>
                    <span class="product-card__selected-qty"
                      >{{product.quantity}}</span
                    >
                    <button
                      class="btn__increase-qty"
                      @click="increaseItemCount(index)"
                    >
                      <img
                        src="assets/images/icon-increment-quantity.svg"
                        alt="Increase quantity by 1"
                      />
                    </button>
                  </div>
                  <!-- Default add-to-cart button -->
                  <button
                    v-else
                    class="btn--sm btn__add-to-cart u-flex"
                    @click="addProductToCart(index)"
                  >
                    <img
                      src="assets/images/icon-add-to-cart.svg"
                      alt=""
                    /><span>Add to Cart</span>
                  </button>
                </div>
                <div class="product-card-content u-flex">
                  <p class="product-category">{{product.category}}</p>
                  <p class="product-name">{{product.name}}</p>
                  <p class="product-price u-font-medium">
                    ${{product.price.toFixed(2)}}
                  </p>
                </div>
              </li>
            </ul>
          </section>

          <!-- Selected Items Checkout -->
          <section
            class="checkout-panel"
            :class="{sticky: totalOrderCount }"
          >
            <h3 class="checkout-panel-title">
              Your Cart (<span class="checkout__total-qty"
                >{{totalOrderCount}}</span
              >)
            </h3>
            <div
              v-if="totalOrderCount"
              class="checkout-panel-active u-flex"
            >
              <ul class="checkout-items-list u-flex">
                <li
                  v-for="(product,index) in parsedProducts"
                  :key="product.name"
                >
                  <div
                    v-if="product.selected"
                    class="checkout-item u-flex"
                  >
                    <div class="checkout-item-body">
                      <p class="u-font-medium">{{product.name}}</p>
                      <div class="checkout-item-data u-flex u-font-medium">
                        <span class="checkout-item-qty"
                          ><span>{{product.quantity}}</span>x</span
                        >
                        <span class="checkout-item-price"
                          ><span>@&nbsp;</span>
                          <span>$</span>{{product.price.toFixed(2)}}</span
                        >
                        <span class="checkout-item-total-price"
                          ><span>$</span
                          >{{product.totalItemPrice.toFixed(2)}}</span
                        >
                      </div>
                    </div>
                    <div
                      class="checkout-item-cancel-icon"
                      @click="removeFromCart(index, product.sku)"
                    >
                      <img
                        src="assets/images/icon-remove-item.svg"
                        alt="Remove item from cart"
                      />
                    </div>
                  </div>
                </li>
              </ul>
              <div class="checkout-final-calc u-flex">
                <p class="checkout-final-calc-text u-font-medium">
                  Order Total
                </p>
                <h4 class="checkout-final-calc-amount">
                  <span>$</span>{{totalOrderPrice}}
                </h4>
              </div>
              <div class="checkout--submessage">
                <p>
                  This is a
                  <span class="u-font-medium">carbon-neutral</span> delivery
                </p>
              </div>
              <button
                class="btn btn--lg btn__order-confirmation u-font-medium"
                id="confirm-order-btn"
                @click="confirmOrder"
              >
                Confirm Order
              </button>
            </div>

            <!-- Display if no item is selected -->
            <div
              v-else
              class="checkout-panel-empty"
            >
              <div class="checkout-panel-empty-image-wrapper">
                <img
                  src="assets/images/illustration-empty-cart.svg"
                  alt="Cake with a slice removed"
                  width="128"
                  height="128"
                />
              </div>
              <p>Your added items will appear here.</p>
            </div>
          </section>
        </div>

        <!-- Confirmation Modal -->
        <dialog
          class="confirmation-modal"
          ref="dialog-ref"
        >
          <div class="confirmation-icon-wrapper">
            <img
              src="assets/images/icon-order-confirmed.svg"
              alt="Order confirmed icon"
            />
          </div>
          <h3>Order Confirmed</h3>
          <p>We hope you enjoy your food!</p>
          <ul class="confirmed-items-list u-flex">
            <li
              v-for="(product,index) in parsedProducts"
              :key="product.name"
              class="confirmed-item u-flex"
            >
              <div class="confirmed-item-image-wrapper">
                <img
                  :src="product.image.thumbnail"
                  alt=""
                />
              </div>
              <div class="confirmed-item-body-wrapper u-flex">
                <div class="confirmed-item-body">
                  <p class="u-font-medium">{{product.name}}</p>
                  <div class="confirmed-item-data">
                    <span class="confirmed-item-qty u-font-medium"
                      ><span>{{product.quantity}}</span>x</span
                    >
                    <span class="confirmed-item-price"
                      >@&nbsp;<span>
                        <span>$</span>{{product.price.toFixed(2)}}</span
                      ></span
                    >
                  </div>
                </div>
                <div class="confirmed-item-total-price u-font-medium">
                  $<span>{{product.totalItemPrice.toFixed(2)}}</span>
                </div>
              </div>
            </li>
          </ul>
          <div class="confirmation-final-calc u-flex">
            <p class="confirmation-final-calc-text u-font-medium">
              Order Total
            </p>
            <h4 class="confirmation-final-calc-amount">
              <span>$</span>{{totalOrderPrice}}
            </h4>
          </div>
          <button
            class="btn btn--lg btn__new-order u-font-medium"
            id="new-order-btn"
            @click="startNewOrder"
          >
            Start New Order
          </button>
        </dialog>
      </main>

      <footer class="fm-byline">
        <p class="fm-byline-text u-font-medium">
          Challenge by
          <a
            href="https://www.frontendmentor.io/challenges/product-list-with-cart-5MmqLVAp_d"
            target="_blank"
            >Frontend Mentor</a
          >
        </p>
        <p class="fm-byline-text u-font-medium">
          Coded by
          <a
            href="https://github.com/tinuola/fm_product-list-cart"
            target="_blank"
            >TechTinu</a
          >
        </p>
      </footer>
    </div>
  </body>
</html>
